body{
    background-color: mediumorchid;
}
.jumbotron{
    margin: 20px 150px 10px 150px;
    height: 120px;
    background-color: blue;
}
h1{
    text-align: center;
    margin-top: -40px;
    color: white;
    font-size: 50px;
}
img{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}
#bg{
    height: 100%;
    width: 100%;
    background-size: 1300px 720px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}